<div class="ui grid">
  <div class="ui active page dimmer" ng-show="false">
    <div class="ui indeterminate large text loader">Cargando...</div>
  </div>
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <center>
      <h1>Base hecnt v1</h1><hr>
    <center>
  </div>
  <div class="two wide column"></div>
</div>
